# ===== Visual Studio / C++ / C# =====
.vs/
.vscode/
Debug/
Release/
x64/
x86/

*.suo
*.sdf
*.opensdf
*.user
*.db
*.ipch
*.obj
*.pch
*.ilk
*.pdb
*.tlog
*.log

# CMake / build
build/
out/

# Others
*.tmp
*.cache
